<div class="pr"><h1><span>SKILLS</span></h1></div>
<div class="fr1">
    <script src="https://lottie.host/eeea90ae-115f-464f-8dc9-386860d53e92/RlH1BxkTxc.json"></script>
        <iframe src="https://lottie.host/embed/eeea90ae-115f-464f-8dc9-386860d53e92/RlH1BxkTxc.json"></iframe>
</div>
<div class="lc">
   
 
  <h2>TECHNICAL SKILLS</h2>
  
  <ul>
    <div class="jn">
        <script src="https://lottie.host/391ce5ce-6124-40d6-8a0e-c73c6bde6bf4/R4SQFp4y4z.json"></script>
        <iframe src="https://lottie.host/embed/391ce5ce-6124-40d6-8a0e-c73c6bde6bf4/R4SQFp4y4z.json"></iframe>
      </div>
  <li> <h3>PROGRAMING LANGUAGE: <span>JAVA</span></h3></li>
  <li><h3>WEB DEVELOPMENT:<span>HTML,CSS,JAVASCRIPT</span> </h3></li>
  <li><h3>DATABASE:<span>ORACLE</span></h3></li> 
  <li><h3>DATABASE LANGUAGE:<span>SQL,PL/SQL</span></h3></li>
  <li> <h3>FRAMEWORK:<span>ANGULAR</span></h3></li>
  <li><h3>TOOLS:<span>ECLIPPSE,VS CODE,SQL PLUS</span></h3></li> 
  <li> <h3>OPERATING SYSTEM:<span>WINDOWS</span></h3></li>
</ul>
<br>
<br>
<h2>OTHER SKILLS</h2>
<ul>
    <div class="jn">
        <script src="https://lottie.host/8e2fc3e2-5c31-4630-b73d-e9a5d8d9977c/ADzywveF7x.json">click</script>
        <iframe src="https://lottie.host/embed/8e2fc3e2-5c31-4630-b73d-e9a5d8d9977c/ADzywveF7x.json"></iframe>
    </div>
    
    <li><h3>UNDERSTANDING COMPUTER SCIENCE FUNDAMENTALS</h3></li>
    <li><h3>SELF-STARTER  CAPABLE OF WORKING ON SMALL TEAMS IN A FAST-PACED ENVIRONMENT</h3></li>
    <li><h3>GOOD UNDERSTANDING OF OBJECT ORIENTED TOPICS</h3></li>
</ul>
<br>
<h2>SOFT SKILLS</h2>
<ul>
    <div class="js">
        <script src="https://lottie.host/391ce5ce-6124-40d6-8a0e-c73c6bde6bf4/R4SQFp4y4z.json"></script>
        <iframe src="https://lottie.host/embed/3712baa3-9423-41f7-ba58-0b18e7392b85/pV4aMqF2lh.json"></iframe>
      </div>
    <li><h3>COMMUNICATION</h3></li>
    <li><h3>SELF-MOTIVATED</h3></li>
    <li><h3>TEAM WORK</h3></li>
    <li><h3>PROBLEM SOLVING</h3></li>
    <li><h3>LEADERSHIP</h3></li>
    <li><h3>ABILITY TO WORK COLLABARATIVELY</h3></li>
</ul>
<br><br>
</div>

