<h1>Template Driven Forms</h1>
<form #fm="ngForm" (ngSubmit)="submit(fm)">
  <input type="text" name="username" ngModel #un="ngModel" required>
  <div class="error" *ngIf="(fm.submitted||un.touched) && un.errors?.['required']">Username is required please enter</div>
<br>
<br>
<input type="email" name="email" ngModel #em="ngModel" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" required><br>
<div class="error" *ngIf="(fm.submitted||em.touched)&&em.errors?.['required']">Email required</div>
<div class="error" *ngIf="(fm.submitted||em.touched) && em.errors?.['pattern']">Please enter proper email</div><br>
<input type="password" name="password" ngModel #pwd="ngModel" minlength="8" required><br>
<div class="error" *ngIf="(fm.submitted||pwd.touched) && pwd.errors?.['required']">password is required</div>
<div class="error" *ngIf="(fm.submitted||pwd.touched) &&pwd.errors?.['minlength']">Minimum 8 characters required</div>
<button type="submit">click me</button>
</form>