<div class="pr"><h1><span>EDUCATION</span></h1></div>
<div class="ab1">
    <script src="https://lottie.host/c289a588-4f60-45ea-99b1-c87f1e169be7/sITOsZMIb5.json"></script>
      <iframe src="https://lottie.host/embed/c289a588-4f60-45ea-99b1-c87f1e169be7/sITOsZMIb5.json"></iframe>
</div>
<div class="ed">
  
  <h1>GRADUATION</h1>
  <ul>
<li> <h3>COURSE🧑‍🎓: B-TECH</h3></li>
<li><h3>INSTITUTE🏫:KHAMMAM INSTITUTE OF TECHNOLOGY AND SCIENCES</h3></li>
<li><H3>STREAM 🔰: COMPUTER SCIENCE AND ENGINEERING</H3></li>
<li><h3>UNIVERSITY⛩️🗽:JNTUH</h3></li>
<li><h3>YEAR OF GRADUATION🗞️:2023</h3></li>
<li><h3>AGGREGATE(CGPA/%)🎀:7.3 CGPA</h3> </li>
  </ul>
<BR>
  <h1>INTERMEDIATE</h1>
  <ul>
  <li><h3>COURSE🧑‍🎓:INTERMEDIATE</h3></li>
  <li><h3>INSTITUTE🏫:RJC JUNIOR COLLEGE</h3></li>
  <li><h3>STREAM🔰:MPC</h3></li>
  <li><h3>UNIVERSITY⛩️🗽:TSBIE</h3></li>
  <li><h3>YEAR OF GRADUATION🗞️:2019</h3></li>
  <li><h3>AGGREGATE(CGPA/%)🎀:90%</h3></li>
</ul>
<br>
<h1>SCHOOLING</h1>
  <ul>
  <li><h3>COURSE🧑‍🎓:SSC</h3></li>
  <li><h3>INSTITUTE🏫:ZPHS CHIMMAPUDI</h3></li>
  <li><h3>STREAM🔰:SSC</h3></li>
  <li><h3>UNIVERSITY⛩️🗽:SSE</h3></li>
  <li><h3>YEAR OF GRADUATION🗞️:2017</h3></li>
  <li><h3>AGGREGATE(CGPA/%)🎀:8.3 GPA</h3></li>
</ul>
<br><br>
</div>