
<header>
   
    <div>
        <img src="assets/images/T2.png" alt="logo">
        <h1><span>PORTFOLIO</span></h1>
    </div>
    <div >
        <ul>
            <li id="ab"><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/education">Education</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            
        </ul>
    </div>
</header>