
<h1><span>ABOUT</span></h1>
<div class="ab1">
    <script src="https://lottie.host/d2c46a08-e4cb-4399-b3b3-e07f5d607b2e/g5VFBWvwld.json"></script>
    <iframe src="https://lottie.host/embed/d2c46a08-e4cb-4399-b3b3-e07f5d607b2e/g5VFBWvwld.json"></iframe><br><br><br>
    <br>
</div>
<br><br>
<div class="txt">
    <h1>I,M SHAIK   <span>LALPASHA</span></h1><br>
   <h3>Iam a Fresher,</h3><h4>I had Completed my Graduation in the Stream of Computer Science and Engineering,<br>Currently Looking for a job where i can develop my <b>Skills</b> and Participate in the Growth of an Organisation</h4>
</div>
<br><br><br>
<div class="bio">
    
    <h4>NAME :  <span>SHAIK LALPASHA</span></h4>
    <h4>DOB  :  <span>17/07/2001</span></h4>
    <h4>E-MAIL: <span>shiklalpasha222gmail.com</span></h4>
    <h4>CONTACT:<span>6300752171</span> </h4>
    <h4>LINKED IN: <a href="https://www.linkedin.com/in/shaik-lalpasha">https://www.linkedin.com/in/shaik-lalpasha</a></h4>
<br>
<br>
<br>


</div>