.ab1 iframe{
    height: 400px;
    width:500px;
    margin-left: 500px;
    justify-content: center;
}
h1{
   text-align: center;
   color: #c025bb;
   
   
   
}
.txt{
   text-align: center;

   
}
.txt h1{
    font-size: 50px;
    color: #cb1f5e;
    margin-bottom: 20px;
}
.txt span{
    color:#22b5cf;
}
.txt h3{
    font-size: 30px;
    color: #cb1f5e;
}
.txt h4{
    font-size: 20px;
    color: #cb1f5e;
}
.bio{
    text-align: center;
 font-size: 20px;
 color: #1dc39c;
  
}
.bio h4 a{
    color: #cb1f5e;
}