

    
    <div class="con">
        <h1>I,m Shaik <span>LALPASHA</span></h1>
        <p>This is my official portfolio website to show all</p>
        <br><p>Details and work </p>
        <a href="assets/images/Resume.pdf">DOWNLOAD RESUME</a>
    </div>
    <div class =images>
        <div class="lps">
            <script src="https://lottie.host/4f35be34-6ecf-4f1a-975e-ce79645036a1/YftjW1k0Ux.json"></script>
            <iframe src="https://lottie.host/embed/4f35be34-6ecf-4f1a-975e-ce79645036a1/YftjW1k0Ux.json"></iframe>
        </div>
     
        <img src="assets/images/prof.jpg" class="lal">

    </div>
<div>
    
    <div class="fr1">
        <script src="https://lottie.host/d2c46a08-e4cb-4399-b3b3-e07f5d607b2e/g5VFBWvwld.json"></script>
        <iframe src="https://lottie.host/embed/d2c46a08-e4cb-4399-b3b3-e07f5d607b2e/g5VFBWvwld.json"></iframe>
        <button class="btn" style="vertical-align:middle"><a  routerLink="/about" ><b>About</b></a></button><br><br>
        <br>
    </div>
    <div class="fr1">
        <script src="https://lottie.host/749f62ea-63b3-4e33-894e-637a910a7734/ZVDOTlmKiB.json"></script>
        <iframe src="https://lottie.host/embed/749f62ea-63b3-4e33-894e-637a910a7734/ZVDOTlmKiB.json"></iframe>
        <button class="btn"><a routerLink="/projects"><b>Projects</b></a></button><br><br><br>
    </div>
    <div class="fr1">
        <script src="https://lottie.host/c289a588-4f60-45ea-99b1-c87f1e169be7/sITOsZMIb5.json"></script>
      <iframe src="https://lottie.host/embed/c289a588-4f60-45ea-99b1-c87f1e169be7/sITOsZMIb5.json"></iframe>
      <button class="btn"><a routerLink="/education"><b>Education</b></a></button><br><br><br>
    </div>
    <div class="fr1">
        <script src="https://lottie.host/eeea90ae-115f-464f-8dc9-386860d53e92/RlH1BxkTxc.json"></script>
        <iframe src="https://lottie.host/embed/eeea90ae-115f-464f-8dc9-386860d53e92/RlH1BxkTxc.json"></iframe>
<button class="btn"><a routerLink="/skills"><b>Skills</b></a></button><br><br><br>

</div>
<br>
<app-about></app-about><br>
<app-education></app-education><br>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>
<br>
</div>