<div class="pra"><h1><span>PROJECTS</span></h1></div>
<div class="fr1">
    <script src="https://lottie.host/749f62ea-63b3-4e33-894e-637a910a7734/ZVDOTlmKiB.json"></script>
    <iframe src="https://lottie.host/embed/749f62ea-63b3-4e33-894e-637a910a7734/ZVDOTlmKiB.json"></iframe>
    
</div>
<div class="products">
    <h3><a href="https://anime-33.netlify.app/"></a></h3>
    <div class="pr">
        <h2>SECURE MULTIPARTY COMPUTATION  WITH ROBUST REVERSIBLE WATER MARKING BASED ON LIGHT WEIGHT CRYPTOGRAPHY</h2>
        <h3>Info about my project:-</h3>
        <p>I have done this project in my Final year of Bachelors’ degree.Developed an 
            approach for secure multi-party computation (MPC) with robust reversible Watermarking in encrypted 
            images project in Java, which combines information hiding And cryptography to increase security and 
            identity</p>
            
    </div>
    <br>
            <br>
    <div class="pr">
        <h2>Malware Detection: A Framework for Reverse Engineered Android Applications</h2>
        <h3>Info about my project:-</h3>
        <p>I have done this project in my Final year of Bachelors’ degree. Firstly, we 
            propose a model that incorporates more innovative static feature sets with the largest 
            current datasets of malware samples than conventional methods. Secondly, we have used 
            ensemble learning with machine learning algorithms such as AdaBoost, SVM, etc. to improve our 
            model's performance.
            Our experimental results and findings exhibit 96.24% accuracy to detect extracted malware fromAndroid 
            applications, with a 0.3 False Positive Rate (FPR).

        </p>
    </div>
   <br>
   <br>
   <div>
    <h2></h2>
   </div>
   <br>
</div>
