
#PC{
    color:rgb(217, 45, 151);
    text-align: center;
    box-shadow: blue;
    text-decoration:underline;
}


.books{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:30px;
}
.book img{
    height:300px;
    width:300px;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     box-shadow: 3px 3px 3px blueviolet;
}
.myForm
{
    background-color:green;
    color: green;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}
.btn{
    gap:10px;
    padding: 10px;
    color:yellow;
    justify-content: space-between;
}